body {
	background: #39c4ff;
	font-size: 16px; 
}

body, h1, table, div {
	margin: 30px;
	color: #292ce2;
}

#button, #email, #pass {
	border: 1.5px solid #292ce2;
	border-radius: 5px;
	color: #292ce2; 
}

input {
	margin: 2% 2% 2% 0;	
}

label {
	margin: 2% 1% 2% 2%;	
}
#checkbox {
	margin: 0;
}

table {
	border-collapse: separate;
	border-spacing: 15px 15px;
}

.through {
	text-decoration: line-through;
}

form {
	display: flex;
	flex-direction: row;
}

/* Extra small and small devices */
@media only screen and (max-width: 660px) {
	body {
		font-size: 0.9rem;
	}

	h1 {
		font-size: 30px;
	}

	form {
		flex-direction: column;
		flex: 1 50%;
	}

	#email, #pass {
		width: 30%;
	}

	#button {
		width: 20%;
	}
	label {
		margin-bottom: 0;
	}
} 